<div class="container">
  <h1>Add new Contact</h1>

  <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <fieldset>
      <label class="form-label" for="name">Name</label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{'is-valid': name.valid, 'is-invalid': (name.invalid && (name.dirty || name.touched))}"
        id="name"
        name="name"
        required
        minlength="2"
        ngModel
        #name="ngModel"
        placeholder="John Doe"
      />
      <div *ngIf="name.errors && name.invalid && (name.dirty || name.touched)">
        <div class="invalid-feedback" *ngIf="name.errors.required">
          The name is required
        </div>
        <div class="invalid-feedback" *ngIf="name.errors.minlength">
          The name is too short
        </div>
      </div>
    </fieldset>

    <fieldset>
      <label class="form-label" for="email">Email</label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{'is-valid': email.valid, 'is-invalid': (email.invalid && (email.dirty || email.touched))}"
        id="email"
        maxlength="128"
        name="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        ngModel
        #email="ngModel"
        placeholder="JohnDoe@yahoo.com"
      />
      <div
        *ngIf="email.errors && email.invalid && (email.dirty || email.touched)"
      >
        <div class="invalid-feedback" *ngIf="email.errors.required">
          The email is required
        </div>
        <div class="invalid-feedback" *ngIf="email.errors.pattern">
          This email is invalid
        </div>
      </div>
    </fieldset>

    <fieldset>
      <label class="form-label" for="phone">Phone</label>
      <input
        type="tel"
        [ngClass]="{'is-valid': phone.valid, 'is-invalid': (phone.invalid && (phone.dirty || phone.touched))}"
        id="Phone"
        name="phone"
        required
        pattern="\d*"
        maxlength="15"
        minlength="5"
        ngModel
        #phone="ngModel"
        placeholder="21345677866"
        class="form-control"
      />
      <div
        *ngIf="phone.errors && phone.invalid && (phone.dirty || phone.touched)"
      >
        <div class="invalid-feedback" *ngIf="phone.errors.required">
          The phoneNumber is required
        </div>
        <div class="invalid-feedback" *ngIf="phone.errors.minlength">
          The phoneNumber is too short
        </div>
        <div class="invalid-feedback" *ngIf="phone.errors.maxlength">
          The phoneNumber is too big
        </div>
        <div class="invalid-feedback" *ngIf="phone.errors.pattern">
          The phoneNumber is too short
        </div>
      </div>
    </fieldset>

    <fieldset>
      <label class="form-label" for="avatar">Username</label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{'is-valid': avatar.valid, 'is-invalid': (avatar.invalid && (avatar.dirty || avatar.touched))}"
        id="avatar"
        name="avatar"
        required
        minlength="3"
        maxlength="32"
        ngModel
        #avatar="ngModel"
        placeholder="JohnDoe"
      />
      <div
        *ngIf="avatar.errors && avatar.invalid && (avatar.dirty || avatar.touched)"
      >
        <div class="invalid-feedback" *ngIf="avatar.errors.required">
          The username is required
        </div>
        <div class="invalid-feedback" *ngIf="avatar.errors.minlength">
          The username is too short
        </div>
      </div>
    </fieldset>

    <fieldset>
      <label class="form-label" for="street">Street</label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{'is-valid': street.valid, 'is-invalid': (street.invalid && (street.dirty || street.touched))}"
        id="city"
        name="street"
        required
        minlength="4"
        maxlength="120"
        ngModel
        #street="ngModel"
        placeholder="123 street"
      />
      <div
        *ngIf="street.errors && street.invalid && (street.dirty || street.touched)"
      >
        <div class="invalid-feedback" *ngIf="street.errors.required">
          The street Name is required
        </div>
        <div class="invalid-feedback" *ngIf="street.errors.minlength">
          The Streetname is not valid
        </div>
      </div>
    </fieldset>

    <fieldset>
      <label class="form-label" for="city">City</label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{'is-valid': city.valid, 'is-invalid': (city.invalid && (city.dirty || city.touched))}"
        id="city"
        name="city"
        required
        ngModel
        #city="ngModel"
        placeholder="London"
      />
      <div *ngIf="city.errors && city.invalid && (city.dirty || city.touched)">
        <p class="invalid-feedback" *ngIf="city.errors.required">
          The Cityname is required
        </p>
        <p class="invalid-feedback" *ngIf="city.errors.minlength">
          This Cityname is not a valid City
        </p>
      </div>
    </fieldset>

    <fieldset>
      <label class="form-label" for="country">Country</label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{'is-valid': country.valid, 'is-invalid': (country.invalid && (country.dirty || country.touched))}"
        id="Country"
        name="country"
        required
        ngModel
        required
        #country="ngModel"
        placeholder="UK"
      />
      <div
        *ngIf="country.errors && country.invalid && (country.dirty || country.touched)"
      >
        <p class="invalid-feedback" *ngIf="country.errors.required">
          The Countryname is required
        </p>
        <p class="invalid-feedback" *ngIf="country.errors.minlength">
          The Countryname is not valid
        </p>
      </div>
    </fieldset>
    <button
      class="form-label"
      class="btn btn-primary"
      [disabled]="createForm.invalid"
    >
      Add user
    </button>
    <button class="btn btn-primary">Cancel</button>
  </form>
</div>
