.contact-list-item {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}
.contact-list-item__email {
  font-weight: 300;
  margin-bottom: 0;
}
.contact-list-item__phone {
  font-weight: 500;
  margin-bottom: 0;
}
.contact-list-item__name {
  margin-bottom: 0;
}
