<li class="contact-list-item" (click)="onContactClicked()">
  <h4 class="contact-list-item__name">{{ contact?.name }}</h4>
  <p class="contact-list-item__email">{{ contact?.email }}</p>
  <p class="contact-list-item__phone">{{ contact?.phone }}</p>
</li>
