<section>
  <a role="button" class="btn btn-primary" routerLink="/contacts/create"
    >Add contact</a
  >
</section>

<ul class="contact-list">
  <app-contact-list-item
    *ngFor="let contact of contacts"
    [contact]="contact"
    (clicked)="handleContactClicked($event)"
  ></app-contact-list-item>
</ul>
