/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body input,
textarea,
select,
button {
  font-family: "Work Sans", sans-serif;
}

.invalid-feedback {
  display: block;
}
